h2{
    font-family: sans-serif
    
}

h4{
    color: red

}

td{

    color: yellow
    
}
th{
    color: red
    
}
p{
    color: pink
    
}

h1{
    font-family: fantasy
    
}

h1{
    color: red
    
}

p{
    font-family: fantasy
}

td{
    background-color: navy
}

h1{
    background-color: navy
}

th{
    background-color: black
}

